.login_wrapper{
        background-image : -webkit-image-set(url(../img/bg_login.png) 1x, url(../img/bg_login.png) 2x);
        background-size  : 100px;
        background-repeat: repeat;
        min-height       : 800px;
        min-width        : 630px;
        height           : 100vh;
}

/* 登录框样式 */
.dialog{
   position        : absolute;
   width           : 450px;
   border          : 1px solid #dadada;
   border-radius   : 10px;
   top             : 50%;
   left            : 50%;
   margin-left     : -225px;
   background-color: #fff;
   margin-top      : -324px
}

.dialog.dialog-shadow {
  -webkit-box-shadow: 0 9px 30px -6px rgba(0, 0, 0, .2), 0 18px 20px -10px rgba(0, 0, 0, .04), 0 18px 20px -10px rgba(0, 0, 0, .04), 0 10px 20px -10px rgba(0, 0, 0, .04);
  -moz-box-shadow   : 0 9px 30px -6px rgba(0, 0, 0, .2), 0 18px 20px -10px rgba(0, 0, 0, .04), 0 18px 20px -10px rgba(0, 0, 0, .04), 0 10px 20px -10px rgba(0, 0, 0, .04);
  box-shadow        : 0 9px 30px -6px rgba(0, 0, 0, .2), 0 18px 20px -10px rgba(0, 0, 0, .04), 0 18px 20px -10px rgba(0, 0, 0, .04), 0 10px 20px -10px rgba(0, 0, 0, .04);
}

.dialog .dialog_header{
  position           : relative;
  background-image   : url(../img/logo_login.png);
  background-image   : -webkit-image-set(url(../img/logo_login.png) 1x, url(../img/logo_login.png) 2x);
  background-size    : 160px;
  background-position: top center;
  background-repeat  : no-repeat;
  height             : 92px;
  margin             : 23px 0 50px;
  padding            : 75px 0 0;
  -webkit-box-shadow : none;
  -moz-box-shadow    : none;
  box-shadow         : none;
}
.dialog .dialog_header_title{
      position          : absolute;
      bottom            : 0;
      width             : 100%;
      text-align        : center;
      margin            : 0;
      padding           : 0;
      border-bottom     : 0;
      font-size         : 20px;
      -webkit-box-shadow: none;
      -moz-box-shadow   : none;
      box-shadow        : none;
      line-height       : 1em;
      height            : auto;
      color             : #333;
      font-weight       : 400;
}

/* 登录内容样式 */
.dialog .dialog_content {
  padding: 0 40px 22px;
}

.dialog .dialog_content ul .input{
      background: #fff;
      box-shadow: 0 3px 5px -4px rgba(0, 0, 0, .4) inset,
      -1px 0 3px -2px rgba(0, 0, 0, .1) inset;
      border            : #ccc solid 1px;
      border-radius     : 6px;
      font-size         : 18px;
      height            : 46px;
      line-height       : 46px;
      opacity           : .618;
      position          : relative;
      transition        : opacity .3s ease-in;
      -moz-transition   : opacity .3s ease-in;
      -webkit-transition: opacity .3s ease-in;
      -o-transition     : opacity .3s ease-in;
}

.dialog .dialog_content ul .input input{
  color       : #bebebe;
  font-size   : 18px;
  padding-left: 10px;

}

.input .icon {
  background   : -webkit-linear-gradient(#f8f8f8, #fafafa);
  background   : -moz-linear-gradient(#f8f8f8, #fafafa);
  background   : -ms-linear-gradient(#f8f8f8, #fafafa);
  background   : -o-linear-gradient(#f8f8f8, #fafafa);
  border-radius: 6px 0 0 6px;
  border-right : solid 1px #ccc;
  box-shadow   : 1px 0 3px -1px rgba(0, 0, 0, .1);
  float        : left;
  height       : 46px;
  width        : 46px;
  overflow     : hidden;
}

.input .icon i {
  background         : url(../img/dialog-input-icons.png) no-repeat;
  background-image   : -webkit-image-set(url(../img/dialog-input-icons.png) 1x, url(../img/dialog-input-icons.png) 2x);
  background-position: -1px 0;
  cursor             : pointer;
  display            : block;
  height             : 46px;
  text-indent        : -9999em;
  width              : 46px;
}

li.password .icon i {
  background-position: -49px 0;
}


.dialog .dialog_content .common-form li {
  clear        : both;
  margin-bottom: 15px;
  position     : relative;

}

/* 记住密码 */
.dialog .dialog_content .common-form .remember {
  margin: 15px 5px 25px ;
}

.dialog .dialog_content .common-form .remember .auto {
  color       : #999;
  float       : left;
  font-size   : 12px;
  cursor      : pointer;
  padding-left: 22px;
}
.remember .auto .checkbox {
  position           : absolute;
  top                : -2px;
  left               : -2px;
  background-position: 0 -18px;
}
 .remember .auto .checkbox a {
   display         : block;
   height          : 20px;
   width           : 20px;
   background      : url(../img/checkbox.png) no-repeat 0 -19px;
   background-image: -webkit-image-set(url(../img/checkbox.png) 1x, url(../img/checkbox.png) 2x);

}

.dialog .dialog_content .common-form .remember .forgotpassword {
  float      : right;
  font-size  : 12px;
  width      : 50px;
  white-space: nowrap;
  color      : #5079d9
}

.dialog .dialog_content .common-form .remember .registercloud {
  display     : inline-block;
  float       : right;
  font-size   : 12px;
  margin-left : 132px;
  margin-left : 130px \9 \0;
  margin-right: 8px;
  color       : #5079d9
}

/* 按钮样式 */
.dialog  .dialog_content .btn_wrapper {
  margin: 50px 0 0;
}

.btn_wrapper .btn {
  border-radius        : 6px;
  clear                : both;
  cursor               : pointer;
  height               : 46px;
  line-height          : 46px;
  margin               : 0 0 12px;
  padding              : 1px;
  -webkit-touch-callout: none;
  -moz-user-select     : -moz-none;
  -khtml-user-select   : none;
  -webkit-user-select  : none;
  -ms-user-select      : none;
  -o-user-select       : none;
  user-select          : none;
  text-align           : center;
  text-shadow          : rgba(255, 255, 255, .496094) 0 1px 0;
}

.btn_wrapper .btn{
  background : #6383c6;
  background : linear-gradient(#6f97e5, #527ed9);
  box-shadow : inset 0 1px 2px #7ea1e8;
  color      : #fff;
  text-shadow: #4f70b3 0 -1px 0;
}

.btn_wrapper .btn:hover {
  box-shadow: inset 0 1px 1px #7696de, inset 0 0 2px #627dca, inset 0 -2px 3px #5a77c7, inset 0 0 100px rgba(48, 77, 147, .4);
}

/* 其他登录方式 */
.info_wrapper {
  margin        : 30px 0 0;
  padding-top   : 23px;
  padding-bottom: 20px;
  box-shadow    : 0 1px 0 rgba(255, 255, 255, 0.4) inset;
  border-top    : 1px solid #d9d9d9;
}
.info_wrapper>ul>li {
  float: right;
}
.info_wrapper>ul>li:first-child {
  float: left;
}

.info_wrapper .login_three li.text,
.info_wrapper .other_login {
  background-image: none;
  margin-left     : 0;
  width           : auto;
  color           : #bbb;
  font-size       : 12px;
  line-height     : 17px;
  cursor          : default;
  color           : #999;
}



/* 底部样式 */
.copyright{
    position  : absolute;
    width     : 100%;
    clear     : both;
    color     : #434d55;
    font-size : 12px;
    padding   : 0 0 60px;
    bottom    : 0;
    text-align: center;
}

.copyright>div {
  display: inline-block;
  margin : 0 auto;
}

.copyright h2,
.copyright h3 {
  float      : left;
  height     : 15px;
  line-height: 15px;
  color      : #757575;
}

.copyright .company{
      color: #5079d9;
}

.clearfix:after {
  visibility: hidden;
  display   : block;
  font-size : 0;
  content   : " ";
  clear     : both;
  height    : 0;
}

.copyright h4 a{
  color             : #5079d9;
  cursor            : pointer;
  text-decoration   : none;
  -moz-transition   : all .3s ease;
  -webkit-transition: all .3s ease;
  -o-transition     : all .3s ease;
  transition        : all .3s ease;
}